---
- name: Enure that .vnc dir exists
  file:
    path: "/home/{{ user_map['dev'].username }}/.vnc"
    state: directory
    owner: "{{ user_map['dev'].username }}"
    group: "{{ user_map['dev'].user_group }}"

- name: Copy vnc config to /home/{{ users }}/.vnc
  template:
    src: config.j2
    dest: "/home/{{ user_map['dev'].username }}/.vnc/config"
    owner: "{{ user_map['dev'].username }}"
    group: "{{ user_map['dev'].user_group }}"

- name: Set the vncserver.users file 
  template: 
    src: vncserver.users.j2
    dest: /etc/tigervnc/vncserver.users
    owner: "{{ user_map['dev'].username }}"
    group: "{{ user_map['dev'].user_group }}"
    mode: 644

- name: Copy over the vnc service file
  copy:
    src: vnc_server.service
    dest: /etc/systemd/system/vncserver@:1.service

- name: Start and enable VNC server display
  ansible.builtin.systemd:
    name: vncserver@:1.service
    daemon_reload: true
    state: started
    enabled: true

- name: Restart VNC server displays
  systemd:
    name: vncserver@:1.service
    state: restarted

- name: Allow VNC past firewall on port 5901
  ansible.posix.firewalld:
    port: 5901/tcp
    permanent: true
    state: enabled
    immediate: true


