- name: Ensure correct hostname is set
  ansible.builtin.hostname:
    name: "{{ hostname }}"
    use: systemd

- name: Ensuring user group exists
  group:
    name: "{{ user_map[item].user_group }}"
    state: present
    gid: "{{ user_map[item].group_id }}"
  with_items: "{{ users }}"

- name: Create user dev
  user:
    name: "{{ item }}"
    uid: "{{user_map[item].user_id }}"
    group: "{{user_map[item].user_group }}"
    password: "{{ dev_passwd_current }}"
    home: "{{ user_map[item].home_dir }}"
    state: present
  with_items: "{{ users }}"

- name: Give sudo rights to dev user
  copy:
    dest: /etc/sudoers.d/developer
    content: "dev ALL=(ALL) NOPASSWD:ALL\n"
    owner: root
    group: root
    mode: '0440'
    validate: 'visudo -cf %s' 

- name: Change root password
  user:
    name: root
    password: "{{ root_passwd_current }}"

- name: Ensuring admin group exists
  group:
    name: "{{ user_map['admin'].user_group }}"
    state: present
    gid: "{{ user_map['admin'].group_id }}"
  

- name: Create admin user
  user:
    name: "{{ user_map['admin'].username }}"
    uid: "{{ user_map['admin'].user_id}}"
    group: "{{ user_map['admin'].group_id }}"
    password: "{{ admin_passwd_current }}"
    home: "{{ user_map['admin'].home_dir }}"
    state: present

- name: Give sudo rights to admin user
  copy:
    dest: /etc/sudoers.d/developer
    content: "admin ALL=(ALL) NOPASSWD:ALL\n"
    owner: root
    group: root
    mode: '0440'
    validate: 'visudo -cf %s'

- name: Create podman user
  user:
    name: "{{ user_map['podman'].username }}"
    uid: "{{ user_map['podman'].user_id}}"
    group: "{{ user_map['podman'].group_id }}"
    password: "{{ podman_passwd_current }}"
    home: "{{ user_map['podman'].home_dir }}"
    state: present
