- name: Ensure correct hostname is set
  ansible.builtin.hostname:
    name: "{{ hostname }}"
    use: systemd

- name: Ensuring user groups exists
  group:
    name: "{{ user_map[item].user_group }}"
    state: present
    gid: "{{ user_map[item].group_id }}"
  with_items: "{{ users }}"

- name: Create admin user
  user:
    name: "{{ item }}"
    uid: "{{user_map[item].user_id }}"
    group: "{{user_map[item].user_group }}"
    password: "{{ admin_passwd }}"
    home: "{{ user_map[item].home_dir }}"
    state: present
  with_items: admin

- name: Create ansible user
  user:
    name: "{{ item }}"
    uid: "{{user_map[item].user_id }}"
    group: "{{user_map[item].user_group }}"
    password: "{{ ansible_passwd }}"
    home: "{{ user_map[item].home_dir }}"
    state: present
  with_items: ansible

- name: Give sudo rights to admin user
  copy:
    dest: /etc/sudoers.d/admin_user
    content: "admin ALL=(ALL) ALL\n"
    owner: root
    group: root
    mode: '0440'
    validate: 'visudo -cf %s' 

- name: Change root password
  user:
    name: root
    password: "{{ root_passwd }}"

- name: Give sudo rights to ansible user
  copy:
    dest: /etc/sudoers.d/ansible
    content: "ansible ALL=(ALL) ALL\n"
    owner: root
    group: root
    mode: '0440'
    validate: 'visudo -cf %s'
