- name: Configure users
  hosts: update_hosts
  become: true
  become_method: sudo
  
  vars_files:
    - "../global_vars/passwords.yaml"
  vars:
    users:
      - "dev"
  roles:
    - role: "config_user"
  tags: [config_dev]

- name: Ensuring base packages are install_listed
  hosts: update_hosts
  become: true
  become_method: sudo

  vars:
    listed_packages:
      - epel-release
      - podman
      - vim
      - curl
      - wget
      - git
      - telnet
      - bind-utils
      - tree
      - gcc
      - chrony
      - zip
      - unzip
      - ipa-client
      - tigervnc-server
  
  roles:
    - role: "install_listed"
  tags: [install_base]


- name: Configure user for podman
  hosts: update_hosts
  become: true
  become_method: sudo

  roles: 
    - role: "config_user_podman"

- name: Configure Desktop Env
  hosts: update_hosts
  become: true
  become_method: sudo
    
  roles:
    - role: "config_desktop_env"
  tags: [config_podman_user]

- name: Configure tiger VNC server
  hosts: update_hosts
  become: true
  become_method: sudo

  roles:
    - role: "config_vnc_server"
  tags: [config_tigervnc]
