---
- name: Configure the base alma9 vm
  hosts: target_hosts
  become: true
  gather_facts: false
  become_method: sudo

  vars_files:
    - ../vault/secrets/vm_user_passwords_vault.yaml

  roles:
    - role: config_base_roles/set_ansible_user
    - role: common/set_hostname
    - role: config_base_roles/extend_lvm
      when: extend_mode is defined
    - role: config_base_roles/config_users
    - role: common/adjust_time
    - role: config_base_roles/install_listed
    - role: podman_roles/config_user_podman
      when: "'podman' in users"
    - role: config_base_roles/copy_ssh_keys
