- name: Configure users
  hosts: update_hosts
  become: true
  become_method: sudo
  
  vars_files:
    - "../global_vars/passwords.yaml"
  vars:
    users:
      - "dev"
  roles:  
    - role: "config_user"
  tags: [config_dev]

- name: Ensuring base packages are install_listed
  hosts: update_hosts
  become: true
  become_method: sudo

  vars:
    listed_packages:
      - epel-release
      - podman
      - vim
      - curl
      - wget
      - git
      - telnet
      - bind-utils
      - tree
      - gcc
      - chrony
      - zip
      - unzip
      - ipa-client
      - freerdp
  
  roles:
    - role: "install_listed"
  tags: [install_base]


- name: Configure user for podman
  hosts: update_hosts
  become: true
  become_method: sudo

  roles: 
    - role: "config_user_podman"
  tags: [config_podman_user]

- name: Configure Desktop Env
  hosts: update_hosts
  become: true
  become_method: sudo
  
  roles:
    - role: "config_desktop_env"
  tags: [config_desktop]

- name: Configure RDP server
  hosts: update_hosts
  become: true
  become_method: sudo
  vars_prompt:
    - name: rdp_user
      prompt: "Enter the RDP username"
      private: no
    - name: rdp_passwd
      prompt: "Enter the RDP users passwd"
      private: yes
      confirm: yes
  roles:
    - role: "config_rdp_server"
  tags: [config_rdp]
