---
- name: Ensure that .config/containers/systemd exists
  ansible.builtin.file:
    path: "/home/{{ podman_user }}/.config/containers/systemd"
    state: directory
    mode: "755"
    owner: "{{ podman_user }}"
    group: development

- name: Deploy the quadlet container for pi-hole
  become_user: "{{ podman_user }}"
  become: true
  ansible.builtin.copy:
    src: pi-hole.container
    dest: "/home/{{ podman_user }}/.config/containers/systemd/pi-hole.container"
    mode: "644"

- name: Deploy the quadet container for unbound

- name: Reload systemd and start the containers
  become_user: "{{ podman_user }}"
  become: true
  ansible.builtin.systemd_service:
    name: pi-hole.service
    state: started
    daemon_reload: true
    scope: user
  environment:
    XDG_RUNTIME_DIR: /run/user/{{ uid.stdout }}

- name: Open needed ports
  ansible.posix.firewalld:
    port: "{{ item }}"
    permanent: true
    zone: public
    state: enabled
    immediate: true
  with_items:
    - "5353/tcp"
    - "5353/udp"
    - "8080/tcp"
    - "8443/tcp" 


