---
- name: Ensure that .config/containers/systemd exists
  ansible.builtin.file:
    path: "/home/{{ podman_user }}/.config/containers/systemd"
    state: directory
    mode: "755"
    owner: "{{ podman_user }}"
    group: development

- name: Deploy the quadlet container for pi-hole
  become_user: "{{ podman_user }}"
  become: true
  ansible.builtin.copy:
    src: pi-hole.container
    dest: "/home/{{ podman_user }}/.config/containers/systemd/pi-hole.container"
    mode: "644"

# - name: Deploy the quadet container for unbound

- name: Reload systemd and start the containers
  become_user: "{{ podman_user }}"
  become: true
  ansible.builtin.systemd_service:
    name: pi-hole.service
    state: started
    daemon_reload: true
    scope: user
  environment:
    XDG_RUNTIME_DIR: /run/user/{{ uid.stdout }}

- name: Forward ports to container high ports
  ansible.posix.firewalld:
    rich_rule: 'rule family="ipv4" forward-port port={{ item.port }} protocol={{ item.proto }} to-port={{ item.to_port }}'
    permanent: true
    zone: public
    state: enabled
    immediate: true
  loop:
    - { port: 53,  proto: tcp, to_port: 5353 }
    - { port: 53,  proto: udp, to_port: 5353 }
    - { port: 80,  proto: tcp, to_port: 8080 }
    - { port: 443, proto: tcp, to_port: 8443 }



